@media (max-width: 960px) {
    /*общие*/
    main {
        width: 100vw;
        border: none;
        margin: 0;
        margin-top: 17vw;
    }
    body {
        margin: 0;
    }
    section {
        width: 100vw;
    }
    html {
        scroll-padding-top: 17vw;
    }

    /* стилизация хедера */
    .header-for-desktop {
        display: none;
    }
    .header-for-mobile {
        top: 0;
        display: block;
        width: 100vw;
        position: relative;
    }
    .container-for-visible_nav {
        position: fixed;
        box-sizing: border-box;
        background-color: white;
        width: 100vw;
        height: 17vw;
        border-bottom: solid 0.1vw black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vw;
        z-index: 3;
        top: 0;
    }
    .container-for-visible_nav button {
        width: 10vw;
        height: 10vw;
        background-size: 5vw;
        background-position: center;
        background-repeat: no-repeat;
    }
    .burger-menu-button{
        background-image: url('../assets/images/vector/menu.svg');
    }
    .users-button {
        background-image: url('../assets/images/vector/users.svg');
    }
    .container-for-visible_nav button img {
        width: 5vw;
        height: 5vw;
    }
    .container-for-visible_nav a img {
        width: 10vw;
        height: 10vw;
    }
    .navigation-mobile {
        position: fixed;
        width: 100vw;
        overflow: hidden;
        left: 0;
        top: 17vw;
    }
    .dropdown-menu {
        background-color: white;
        border-bottom: solid 0.1vw black;
        transform: translateY(-150%);
    }
    .checkbox {
        transform: scale(4);
        position: absolute;
        left: 7vw;
        top: 7.5vw;
        opacity: 0;
    }
    .navigation-mobile ul li > * {
        padding: 3vw;
        text-decoration: none;
        font-size: 3.5vw;
    }
    .navigation-mobile ul li:first-child {
        padding-top: 2vw;
    }
    .navigation-mobile ul li:last-child {
        padding-bottom: 2vw;
    }
    .navigation-mobile ul {
        list-style-type: none;
        display: inline;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*стилизация грид-секций*/
    .info-section,
    .story-section {
        grid-template-columns: 100%;
    }
    .left-column img,
    .right-column img {
        width: 100vw;
        padding: 3vw;
        padding-bottom: 1.8vw;
        box-sizing: border-box;
    }
    .left-column {
        border: none;
    }
    h1 {
        border-top: solid 0.1vw black;
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        font-size: 7vw;
    }

    /*стилизация бегущих строк и строки со слоганом*/
    .container-for-bottom-running-line,
    .container-for-running-line,
    .container-for-slogan {
        width: 100vw;
    }
    .container-for-items-of-running-line img {
        width: 22vw;
        padding: 2.5vw;
        box-sizing: border-box;
    }
    .container-for-items-of-running-line p {
        font-size: 4vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }
    .container-for-bottom-running-line {
        border-bottom: solid 0.1vw black;;
    }
    .container-for-slogan > * {
        margin: 0;
        margin-top: 8vw;
        margin-bottom: 8vw;
        font-size: 5.5vw;
    }
    .container-for-slogan img {
        width: 17vw;
        margin: 3vw;
    }
    .container-for-bottom-running-line img,
    .container-for-running-line img {
        width: 22vw;
    }
    .container-for-running-line p,
    .container-for-bottom-running-line p {
        font-size: 4vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }
    .container-for-bottom-running-line {
        border-bottom: solid 0.1vw black;;
    }

    /*стилизация секции с карточками товаров*/
    .container-for-products-cards-and-fires {
        width: 100vw;
        overflow: scroll;
        height: 113.5vw;
    }
    .container-for-cards {
        width: 210vw;
        height: 80vw;
        top: 12vw;
    }
    .container-for-fires {
        width: 210vw;
        height: 50vw;
        padding-top: 5vw;
        box-sizing: border-box;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .container-for-fires img {
        padding: 0;
        width: 12vw;
    }
    .product-card img {
        width: 65vw;
    }
    .container-for-product-info {
        top: 15vw;
        width: 63vw;
    }
    .container-for-product-info img {
        width: 58vw;
    }
    .product-description {
        font-size: 3.2vw;
        margin: 3vw;
    }
    .product-name {
        font-size: 5vw;
        margin: 3vw;
    }
    .products-section-img {
        width: 100vw;
        padding: 3vw;
        padding-top: 0;
        box-sizing: border-box;
    }

    /* стилизация предпоследней секции */
    .container-for-story h2 {
        padding-top: 5vw;
        padding-bottom: 5vw;
        font-size: 6vw;
    }
    .container-for-story-card {
        width: 100vw;
        height: 100vw;
        border-left: none;
    }
    .container-for-story-card p {
        padding-bottom: 3.3vw;
    }
    .container-for-story-card h3 {
        width: 60vw;
        height: 60vw;
        font-size: 2.73vw;
        top: 20vw;
        left: 20vw;
    }
    .container-for-story-card img,
    .container-for-story,
    .container-for-story img {
        width: 100vw;
    }

    /*cтилизация последней секции*/
    .bottom-foreign-text {
        width: 100vw;
        top: 4vw;
    }

    /*стилизация футера*/
    footer {
        border: none;
        border-top: solid 0.1vw black;
        padding-top: 54.3vw;
        width: 100vw;
    }

    footer address {
        width: 100vw;
        font-size: 3.5vw;
        padding: 4vw;
    }
    footer address p {
        padding-top: 7vw;
    }
}

@media (prefers-color-scheme: dark) {
    body,
    main,
    .header-for-desktop,
    .header-for-mobile,
    .container-for-visible_nav,
    .dropdown-menu,
    footer {
        background-color: var(--dark-theme);
    }
    .container-for-bottom-running-line img,
    .container-for-running-line img,
    .container-for-slogan img,
    .logo,
    .container-for-fires {
        filter: invert(1);
    }
    * {
        color: white;
    }
    button {
        background-color: var(--primary-dark);
    }
    .container-for-product-info > *,
    h3 p,
    footer * {
        color: black;
    }
    main,
    .container-for-visible_nav,
    .dropdown-menu,
    .container-for-running-line,
    .container-for-slogan,
    h1,
    .container-for-bottom-running-line,
    footer,
    .container-for-story,
    .container-for-story-card,
    .left-column,
    .header-for-desktop {
        border-color: white;
    }
}

@media(prefers-reduced-motion: reduce) {
    .container-for-items-of-running-line {
        animation: none;
    }
}